    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <p>More information on <a href="https://github.com/supremacia/phatto">https://github.com/supremacia/phatto</a></p>
                    <p><i><b>*Atto</b> (symbol <b>a</b>) is a unit prefix in the metric system denoting a factor of 10<sup>−18</sup>. (<a href="https://en.wikipedia.org/wiki/Atto-">Wikipedia</a>)</i></p>
                </div>
            </div>
        </div>
    </footer>