    <header>
        <div class="container">
            <a id="menu" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <h1>Phatto</h1>
        </div>
        <ul id="slide-out" class="side-nav">
            <li><img src="/img/favicon/android-chrome-512x512.png" /></li>
            <li><a href="@url"><i class="material-icons">home</i> Home</a></li>
            <li><a href="@url/manual"><i class="material-icons">local_library</i> Manual</a></li>
            <li><a href="@url/about"><i class="material-icons">assignment</i> Sobre</a></li>
            <li><a href="@url/privacy"><i class="material-icons">verified_user</i> Política de Privacidade</a></li>
        </ul>
    </header>